{# src/_includes/components/Sidebar.njk #}
<aside x-data="{ open: {} }" class="w-64 bg-gray-50 border-r hidden md:block">
  <nav aria-label="Site Navigation" class="h-full overflow-auto">
    {%- macro renderNav(items) -%}
      <ul>
      {%- for item in items %}
        <li>
          {%- if item.children and item.children | length > 0 %}
            <div class="flex items-center justify-between px-4 py-2 hover:bg-gray-200">
              <a
                href="{{ item.url }}"
                class="font-medium {{ 'text-blue-600' if item.url == page.url else '' }}"
              >
                {{ item.title }}
              </a>
              <button
                @click="open['{{ item.url }}'] = !open['{{ item.url }}']"
                class="focus:outline-none"
                :aria-expanded="open['{{ item.url }}']"
              >
                <span x-show="!open['{{ item.url }}']">▶</span>
                <span x-show=" open['{{ item.url }}']">▼</span>
              </button>
            </div>
            <div
              x-show="open['{{ item.url }}']"
              class="pl-4 max-h-0 overflow-hidden transition-all duration-300"
              x-bind:class="{'max-h-screen': open['{{ item.url }}']}"
            >
              {{ renderNav(item.children) }}
            </div>
          {%- else %}
            <a
              href="{{ item.url }}"
              class="block px-4 py-2 hover:bg-gray-200 {{ 'bg-gray-200 font-semibold' if item.url == page.url else '' }}"
            >
              {{ item.title }}
            </a>
          {%- endif %}
        </li>
      {%- endfor %}
      </ul>
    {%- endmacro %}

    {{ renderNav(collections.nav) }}
  </nav>
</aside>
